/* Jumbotron */

.jumbotron-studio {
    background-image: url("/nft/studio/img/studio_jumbotron.jpg");
    background-size: cover;
    background-position: center;
}

@media (max-width: 991px) {
    .jumbotron-studio {
        background-size: contain;
    }
}