/* Jumbotron */

.jumbotron-studio {
    background-image: url("/nft/studio/img/studio_jumbotron.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 155px;
    padding-bottom: 155px;
}

@media (max-width: 991px) {
    .jumbotron-studio {
        background-position-x: -150px;
    }
}