Options -MultiViews -Indexes

RewriteEngine on

RewriteRule ^projects/?$ projects.php [L]
RewriteRule ^projects/collection/([^/]+)/?$ collection.php [L]
RewriteRule ^projects/nft/([^/]+)/?$ nft.php [L]